/* ====== Base Calendar Styling ====== */
.rdrCalendarWrapper {
  background: transparent !important;
  font-family: sans-serif !important;
  box-shadow: none !important;
  border: none !important;
  font-size: 15px;
}
.rdrDateDisplayWrapper{
    background: transparent !important;
}
.rdrDateDisplayItem{
    background: transparent !important;
    /* box-shadow: none; */
    /* border: 2px solid #7d888d; */
}
.rdrDateDisplayItemActive{
    border-color: #c31d2c;
}
