@import "tailwindcss";

:root {
  --color-primary: #c31d2c;
  --color-text-grey: #d3d3d3;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}